<% provide :title, t('.about') %>
<h1><%= t('.about') %> Show Me The World</h1>

<h3>What is this site?</h3>
Show Me The World is a site designed to suggest places for you to visit. It has a database of almost 3000 cities from all around the world. When you go to the homepage and click 'Where to?,' the site grabs a random location and shows you a page for that city with some pictures from Flickr and some more information about that place. If Flickr isn't cooperating, you see a picture of a penguin. If you don't like the location, you can click on "nah, let's try again" and it will bring you back to the homepage and you can try to find a better one.

<h3>Why did you make it?</h3>
I built this so that I could dig deeper into some Rails/programming things that I didn't have a deep understanding of, but I also built it because I love to travel and I'm always looking for new suggestions of places to visit.

<h3>Where can I see the code for the app?</h3>
Check it out on GitHub here: <%= link_to "https://github.com/dcushing/show-me-the-world", "https://github.com/dcushing/show-me-the-world", target: "_blank" %>

<h3>What is this app built on?</h3>
It's built in Ruby on Rails 5. I used the <%= link_to "flickraw gem", "https://github.com/hanklords/flickraw", target: "_blank" %> to access the Flickr API, and the <%= link_to "wikipedia-client gem", "https://github.com/kenpratt/wikipedia-client", target: "_blank" %> to access the Wikipedia API. The front end is using the jQuery, CSS, and JavaScript that Rails 5 comes with.

<h3>How do you get the pictures from Flickr?</h3>
I use the <%= link_to "flickraw gem", "https://github.com/hanklords/flickraw", target: "_blank" %> to access the Flickr API, and I created a service in my app called get_photos.rb. I use it to search Flickr for photos tagged with the city and country, and then I use random photos from that query to display on the page. I'm aware that it's not a perfect way to search for something, so I'm continuing to make small tweaks to the search query to see what I can do to improve it. (The panda and penguin pictures are not from Flickr. The panda is from <%= link_to "here on Wikimedia Commons", "https://commons.wikimedia.org/wiki/File:1_panda_trio_sichuan_china_2011.jpg", target: "_blank" %> and the penguin is from <%= link_to "here on Wikimedia Commons", "https://commons.wikimedia.org/wiki/File:African_penguin_near_Boulders_Beach.jpg", target: "_blank" %>.)

<h3>Where did you get the list of cities?</h3>
I got the list of cities from <%= link_to "here", "https://simplemaps.com/data/world-cities", target: "_blank" %> and the list of country data (region, language, and currency) <%= link_to "here", "https://raw.githubusercontent.com/datasets/country-codes/master/data/country-codes.csv", target: "_blank" %>. Both of these lists had more data than I needed, so I set up rake tasks to import only the information that I needed (for the places list, I only wanted cities with population of greater than 100,000). There's a nice tutorial on how to set up a rake task <%= link_to "here", "https://gorails.com/episodes/intro-to-importing-from-csv", target: "_blank" %>.


<h3>Just who are you, anyway?</h3>
<p id="last-faq">My name's Danielle. I love to travel, drive myself crazy trying to program new features that I've never built before, and talk about grammar. You can find me on <%= link_to "GitHub here", "https://github.com/dcushing", target: "_blank" %>.</p>




