<% provide :title, t('.where-next') %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<%= link_to 'Where to?', place_path(@place), class: 'btn btn-primary' %>
		<h2><%= @place.city %>, <%= @place.country %></h2>
		<h3><%= @place.id %></h3>
	</div>
</div>


<div class="row center" id="buttons">
	<div class="col-md-6 text-center">
		<%= link_to "Tell me more", info_path, remote: true, class: 'btn btn-lg' %>
	</div>
	<div class="col-md-6 text-center">
		<%= link_to "Nah, show me something else", root_path, class: 'btn btn-lg' %>
	</div>
</div>

<div id="trip-info"></div>
