<% provide :title, t('.where-next') %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<h1><%= @place.city %>, <%= @place.country %></h1>
	</div>
</div>

<div class="row center" id="pics">
	<div class="col-xs-4 text-center">
		<%= image_tag(@photo1.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo1.uploaded_by}", @photo1.profile_link, target: "_blank" %></p>
	</div>
	<div class="col-xs-4 text-center">
		<%= image_tag(@photo2.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo2.uploaded_by}", @photo2.profile_link, target: "_blank" %></p>
	</div>
	<div class="col-xs-4 text-center">
		<%= image_tag(@photo3.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo3.uploaded_by}", @photo3.profile_link, target: "_blank" %></p>
	</div>

<div class="row center" id="buttons">
	<div class="col-md-6 text-center">
		<%= link_to "Tell me more", info_path, remote: true, class: 'btn btn-lg' %>
	</div>
	<div class="col-md-6 text-center">
		<%= link_to "Nah, show me something else", root_path, class: 'btn btn-lg' %>
	</div>
</div>

<div id="trip-info"></div>
