<% provide :title, @place.city %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<h3>You should go to</h3>
		<h1><%= @place.city %>, <% if @place.province != "" %><%= @place.province %>, <% end %><%= @place.country_name %></h1>
	</div>
</div>



<div class="row center" id="pics">
	<div class="col-xs-4 text-center" id="photo1">
		<%= image_tag(@photo1.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo1.uploaded_by}", @photo1.profile_link, target: "_blank" %></p>
	</div>
	<div class="col-xs-4 text-center" id="photo2">
		<%= image_tag(@photo2.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo2.uploaded_by}", @photo2.profile_link, target: "_blank" %></p>
	</div>
	<div class="col-xs-4 text-center" id="photo3">
		<%= image_tag(@photo3.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo3.uploaded_by}", @photo3.profile_link, target: "_blank" %></p>
	</div>
</div>

<div class="row" id="buttons">
	<div class="col-md-12 text-center">
		<%= link_to "Nah, let's try again", root_path, class: 'btn btn-lg' %>
	</div>
</div>

<div class="row" id="info">
	<div class="col-xs-6">
		<div class="col-xs-12 info-box">
			<p><%= @info.get_summary %></p>
			<p>(<%= link_to "More info about this place on Wikipedia", @info.get_url, target: "_blank"%>)</p>
		</div>
	</div>
	<div class="col-xs-6">
	<div class="col-xs-12 info-box">
		<ul>
			<li>Region: <%= @country.region %></li>
			<li>Population: <%= number_with_delimiter(@place.pop) %></li>
			<li>Currency: <%= @country.currency %></li>
		</ul>
		Sound good? Check <%= link_to "Google Flights", "https://www.google.com/flights/", target: "_blank" %> for flights, or <%= link_to "TripAdvisor", "https://www.tripadvisor.com/", target: "_blank"%> and <%= link_to "Wikitravel", "https://wikitravel.org/en/Main_Page", target: "_blank" %> for things to do.
	</div>
</div>


