<% provide :title, @place.city %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<h3>You should go to</h3>
		<h1><%= @place.city %>, <% if @place.province != "" %><%= @place.province %>, <% end %><%= @place.country %></h1>
		<h4><%= @place.id %></h4>
	</div>
</div>



<div class="row center" id="pics">
	<div class="col-xs-4 text-center">
		<%= image_tag(@photo1.photo_url, class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#{@photo1.uploaded_by}", @photo1.profile_link, target: "_blank" %></p>
	</div>
</div>

<div class="row" id="buttons">
	<div class="col-md-6 text-center">
		<%= link_to "Tell me more", info_path, class: 'btn btn-lg' %>
	</div>
	<div class="col-md-6 text-center">
		<%= link_to "Nah, let's try again", places_path, class: 'btn btn-lg' %>
	</div>
</div>

