<% provide :title, @place.city %>

<div class="row text-center" id="landing">
	<div class="col-xs-12">
		<h3>You should go to</h3>
		<h1><%= @place.city %>, <% if @place.iso2 == 'US' || 'CA' || 'AU' || 'CN' %><%= @place.province %>, <% end %><%= @place.country %></h1>
		<h4><%= @place.id %></h4>
	</div>
</div>



<div class="row center" id="pics">
	<div class="col-xs-4 text-center">
		<%= image_tag("https://www.massinsight.org/wp-content/uploads/2016/05/placeholder-4-500x300.png", class: "img-responsive img-thumbnail") %>
		<p><%= link_to "#", "#", target: "_blank" %></p>
	</div>
</div>

<div class="row" id="buttons">
	<div class="col-md-6 text-center">
		<%= link_to "Tell me more", "#", class: 'btn btn-lg' %>
	</div>
	<div class="col-md-6 text-center">
		<%= link_to "Nah, show me something else", "#", class: 'btn btn-lg' %>
	</div>
</div>

