<header class="navbar">
<div class="container">
	<nav>
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Help", help_path %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "English", "#" %></li>
			<li><%= link_to "Italiano", "#" %></li>
		</ul>
	</nav>
</div>
</header>
