<header class="navbar">
<div class="container">
	<nav>
		<%= link_to "Show Me The World", "#", id: "logo" %>
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "Home", "#" %></li>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Help", "#" %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "English", "#" %></li>
			<li><%= link_to "Italiano", "#" %></li>
		</ul>
	</nav>
</div>
</header>
